body{
    background-color: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
}

.construction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgb(59, 59, 59);
}

.blue{
    color: blue;
}